* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.right {
  width: 100%;
  background-color: darkslategrey;
  padding-left: 50px;
  padding-right: 20%;
  color: wheat;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 50px;
  padding-left: 20%;
}

.right header {
  padding: 120px 0px 100px 0px;
}

header img {
  width: 300px;
  border-radius: 50%;
  border: 30px solid white;
}

.profile,
.about,
.education,
.achievments {
  margin-bottom: 50px;
}
